<!DOCTYPE html>
<html>

<head>

	<meta charset="utf-8">
	<!-- <base href="/"> -->
	{% load static %}

	<title>Simple Starter</title>
	<meta name="description" content="Simple Starter Description">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<link rel="icon" href="{% static 'images/favicon.png' %}">
	<meta property="og:image" content="images/preview.jpg">

	<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-reboot.min.css' %}">
	<link rel="stylesheet" href="{% static 'libs/bootstrap/css/bootstrap-grid.min.css' %}">

	<link rel="stylesheet" href="{% static 'css/main.css'%}">
	<link rel="stylesheet" href="{% static 'css/media.css' %}">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tablesort/5.0.2/tablesort.number.js" defer></script>
	
	<script src="{% static 'libs/jquery/jquery-3.6.0.min.js' %}" defer></script>
	<script src="{% static 'JS/three.min.js' %}" defer></script>
	<script src="{% static 'JS/vanta.net.min.js' %}" defer></script>
	<script src="{% static 'JS/auto.js' %}" defer></script>
	<script src="{% static 'JS/test.js' %}" defer></script>

	<script src="{% static 'JS/sortTable.js' %}" defer></script>

	<script src="https://kit.fontawesome.com/073e37950a.js" crossorigin="anonymous" defer></script>
	
	<script type="text/javascript" src="{% static 'JS/ClientSender.js' %}"></script>
	<script type="text/javascript" src="{% static 'JS/adminFormJQ.js' %}"></script>

</head>



<body onload="SendJsonMessageGetQuestionEx('GET_VICTORINS_RESULTS')" class="auto" id="auto">

<script>	
	var firstTeacherName ="{{ FirstName }}";
	var lastTeacherName = "{{ LastName }}";
	var tableVictorina;
	var tableSession;

	var createVictorina = {
    	nameVictorina: "",
    	countQuestion: "",
    	timeInMinute: 0,
    	minScoreWin: 0,
    	firstNameTeacher: firstTeacherName,
    	lastNameTeacher: lastTeacherName,
    	res: {

    	}
	};
	var createQuestionNow = 0;
	var scoreWinQuestion = 0;

	function getIndexNByName(arrayValue){
    switch (arrayValue){

        case "A":
            return 0;
            break;

        case "B":
            return 1;
            break;

        case "C":
            return 2;
            break;

        case "D":
            return 3;
            break;	
    }

}


	function setResultQuestionAndAnswer(count){
    	let result = {
        	[createQuestionNow]:{
            	Question: "",
            	Answers: [],
            	AnswerIsCorrect: [],
            	winScore: "",
            	idTypeQuestion: "",
        	}
    	};
    	let array;
    	result[createQuestionNow].Question = document.getElementById('title-set').value;
    	if (document.getElementById('correctValue').value.length > 1){
        	let stringText = document.getElementById('correctValue').value.toString();
        	array = cutName(stringText);
    	}
    	else {
        	array = [];
       	 	array.push(document.getElementById('correctValue').value);
    	}
			for (let i = 0; i < 4; i++){
				result[createQuestionNow].Answers.push(document.getElementById('input' + (i+1)).value);
				result[createQuestionNow].AnswerIsCorrect.push(0);
			}
				for (let i = 0; i < 4; i++){
					for (let j = 0; j < array.length; j++){
						if (getIndexNByName(array[j]) == i){
								result[createQuestionNow].AnswerIsCorrect[getIndexNByName(array[j])] = 1;
								array.splice(j,1);
						}
				}
			}

    	result[createQuestionNow].winScore = document.getElementById('score').value;
    	result[createQuestionNow].idTypeQuestion = getIdTypeQuestion(document.getElementById('change_type_question').value);
    	scoreWinQuestion += parseInt( document.getElementById('score').value);
    	createVictorina.res = Object.assign(createVictorina.res,result);
    	result = {};
    	createQuestionNow++;
	}

	function AddQuestion(){
    let change = document.getElementById('change_type_question').value;
    let value = document.getElementById('score').value
    switch(change){
        case "type_question_1":
            if (AnswerIsNotEmpty(4) == false && (value != "" || value == null)){
                setResultQuestionAndAnswer(4);
            }
            else {
                alert('Значения не введены !');
            }
            break;

        case "type_question_2":
            if (AnswerIsNotEmpty(1) == false && (value != "" || value == null) ){
                 setResultQuestionAndAnswer(1);
            }
            else {
                alert('Значения не введены !');
            }
            break;

        case "type_question_3":
            if (AnswerIsNotEmpty(4) == false && (value != "" || value == null)){
                setResultQuestionAndAnswer(4);
            }
            else {
                alert('Значения не введены !');
            }
            break;
    }
    
    document.getElementById('change_type_question').value = 'type_question_1';
    document.getElementById('title-set').value = '';
    document.getElementById('correctValue').value = '';
    document.getElementById('score').value = '';
    if (createQuestionNow < localStorage.countCreateQuestion){
        VisibleInputs();
    }
    else {
        createVictorina.minScoreWin = Math.ceil((scoreWinQuestion*50)/100);
        hideContainerQuestion();
				sendMessageInsert();
				createQuestionNow = 0;
       	createVictorina = {
            	nameVictorina: "",
            	countQuestion: "",
            	timeInMinute: 0,
           	 	minScoreWin: 0,
            	firstNameTeacher: firstTeacherName,
            	lastNameTeacher: lastTeacherName,
            	res: {
    
            	}
        	};
    }
}


function ClearInputs(){
	
	for (let i = 0; i < 4; i++){
		document.getElementById('input' + (i+1)).value = '';
	}
	
}


function createContainerQuestion(){
    let container_create_victorina = document.getElementById('container-create-victorina');
    let container_create_question = document.getElementById('container-create-question');
    let form_question = document.getElementById('form-question');
    container_create_victorina.style.visibility = 'hidden';
    container_create_question.style.visibility = 'visible';
    form_question.classList.remove('hide');
    localStorage.countCreateQuestion =  document.getElementById('count-question-set').value;
    createVictorina.nameVictorina = document.getElementById('title-question-set').value;
    createVictorina.countQuestion = document.getElementById('count-question-set').value;
    let valueHour = parseInt(document.getElementById('time-hour-set').value)*60;
    let valueMinute = parseInt(document.getElementById('qM').value)
    createVictorina.timeInMinute =  parseInt(valueHour + valueMinute);
		ClearInputs();
}


</script>

<div class="form-box form-box_admin" >

	<div class="admin-tabs">
	<input class="input-admin" type="radio" name="tabs" id="tab-1" checked>
	<input class="input-admin" type="radio" name="tabs" id="tab-2">
	<input class="input-admin" type="radio" name="tabs" id="tab-3">
	<input class="input-admin" type="radio" name="tabs" id="tab-4">
	<label id="tab-admin-title-create" for="tab-1" class="tab-admin-title">Создать</label>
	<label id="tab-admin-title-victorini" for="tab-2" class="tab-admin-title" >Викторины </label>
	<label id="tab-admin-title-result"for="tab-3" class="tab-admin-title"> Результаты</label>
	<label id="tab-admin-title-tab"for="tab-4" class="tab-admin-title">Подробнее </label>

	<div class=" admin-content-0 ">
		<form action="{% url 'main' %}" class="form-back-btn">
		<button class="form-auto-btn btn-admin-back" type="submit" >Назад</button>
	</form>
	</div>

	<div class="tab-admin_content form-box admin-content-1 ">
	 
					<!-- Main Content -->
					<div class="container quiz-add" id="container-create-victorina">
						<!-- Configue Quiz -->
						<div class="quizConfig-container">
						<div class="quizConfig" id="quizConfig">
						 <form class="">
							 <div class="">
								 <div class="input-field ">
									<label class="input-title" >Название Викторины</label>
									<input id="title-question-set" placeholder="Название" id="qName" type="text" class="form-auto-input form-style" style="margin-bottom: 20px;">
								</div>
								<div class="input-field ">
									<label class="input-title" >Количество вопросов</label>
									<input id="count-question-set" placeholder="1 - 100" id="qTotal" type="number" class="form-auto-input form-style" style="margin-bottom: 20px;">
								</div>
								<div class="input-field ">
									<label class="input-title" >Время прохождения</label>
									<div class="input-time-field">
									<input id="time-hour-set" placeholder="1 - 100" id="qH" value="0" type="number" class="form-auto-input form-style input-time" >
									<label class="input-title" >Часов</label>
								</div>
								<div class="input-time-field">
									<input placeholder="1 - 100" id="qM" value="0" type="number" class="form-auto-input form-style input-time" >
									<label class="input-title" >Минут</label>
								</div>
							</div>
							
						</div>
							
								 
						
						 </form>		 
						 <!-- Create questions -->
						 <div class=" create-btn">
							 <a id="generateBtn" onclick="createContainerQuestion()" class="form-auto-btn form-admin-btn" style="	margin-left: 0px;">Далее</a>
						 </div>
						 	</div>
						</div>
				 </div>
						 <!-- Quiz Form -->

				<div id="container-create-question" class="formContainer">
					 <form id="form-question" class="col s12 quizForm hide">
							 <!-- Title -->
							 <div class="input-container">
								 <div class="input-field  col m6 s12">
									 <label class="input-title" for="question_title">Вопрос</label>
									 <input id="title-set" placeholder="Введите вопрос" type="text" autocomplete="off" class="validate form-auto-input form-style">
									 
								 </div>
							 </div>

							 <div class="input-container">
								<div class="input-field col s12 m6">
									<label class="input-title" >Тип вопроса</label>
									<select id="change_type_question" onchange="ChangeTypeQuestion()" class="validate select-type  form-auto-input form-style">
										<option value="type_question_1">Один правильный ответ</option>
										<option value="type_question_2">Текстовый oтвет</option>
										<option value="type_question_3">Несколько правильных ответов</option>
									</select>	
								</div>
							 </div>

							 <!-- User Input 1 -->
							 <div class="input-container">
								 <div class="input-field ">
									 <label id="input-answer1" class="input-answer1 input-title" >Вариант ответа A</label>
									 <input id="input1" placeholder="Введите вариант ответа" type="text" autocomplete="off" class="validate form-auto-input form-style">
									 
								 </div>
							 </div>
							 <!-- User Input 2 -->
							 <div class="input-container">
								 <div class="input-field">
									 <label id="input-answer2" class="input-answer2 input-title" >Вариант ответа B</label>
									 <input id="input2" placeholder="Введите вариант ответа" type="text" autocomplete="off" class="validate form-auto-input form-style">
									 
								 </div>
							 </div>
				 
							 <!--User Input 3 -->
							 <div class="input-container">
								 <div class="input-field col s12 m6">
									 <label id="input-answer3" class="input-answer3 input-title" >Вариант ответа C</label>
									 <input id="input3" placeholder="Введите вариант ответа" type="text" autocomplete="off" class="validate form-auto-input form-style">
									 
								 </div>
							 </div>
							<!--User Input 4 -->
							 <div class="input-container">
								 <div class="input-field ">
									 <label id="input-answer4" class="input-answer4 input-title" >Вариант ответа D</label>
									 <input id="input4" placeholder="Введите вариант ответа" type="text" autocomplete="off" class="validate form-auto-input form-style">
									 
								 </div>
							 </div>
							 <!--Correct Answer-->
							 <div class="input-container input-containerr ">
								<div class="input-field input-container-1 col s12 m6">
									<label class="input-title">Правильный ответ</label>
									<input id="correctValue" placeholder="Введите правильный ответ: A,B,C,D?" type="text" autocomplete="off" class="validate form-auto-input form-style input-1" >
									 
								</div>
								<div class="input-field input-container-2 ">
								 <label class="input-title">Баллов за ответ</label>
							
								 <input id="score" placeholder="1-5" type="text" autocomplete="off" class="validate form-auto-input form-style input-2" >
								 
							 </div>
							</div>
				
							<!-- Submit Button -->
							<div id="submitBtn" class="col s6">
								<a id="submit" onclick="AddQuestion()"  class="form-auto-btn form-admin-btn">Добавить вопрос</a>
							</div>

						</form>
					</div>
				 
				 
					</div>








	<div class="tab-admin_content form-box admin-content-2 ">
		<table id="example" class="table  table-admin" >
			<div class="table-head">
				<thead>
					<tr class="table-head-title" >
						<th scope="col" class="q1"><input type="text" oninput="searchInputNameOrId(this,1)" class="search-input" placeholder="ID Викторины"></th>
						<th scope="col" class="q2"><input type="text" oninput="searchInputNameOrId(this,2)" class="search-input" placeholder="Название"></th>
						
						<th scope="col" class="q4 q4_1">Результаты</th>
						<th scope="col" class="q4 q4_1">Подробнеe</th>
						<th scope="col" class="q4 q4_1">Удалить</th>
					</tr>
				</thead>
			</div>
	
			<div >
				<tbody  class="table-body"  id="table-admin-victorina">
					<tr id="rowss" class="rowss" >
					
				</tr>
			
					</tbody>
				</div>
		</table>
					
	</div>
	








	<div id="tab-admin-1" class="tab-admin_content form-box admin-content-3 ">
	<div class="id-container">
		<div class=" ">
			<label class="result-id-title" for="questions">Введите ID викторины: </label>
			<input placeholder="ID" id="id-input-victorina-result-session" type="text" class="form-auto-input form-style result-id-input ">
			<a id="result-btn-id" onclick="getCurrentSession(document.getElementById('id-input-victorina-result-session').value)" class="form-auto-btn form-admin-btn result-id-btn">Далее</a>
			
		</div>
	</div>
	<div class="result-container">
		<table id="table-id"  class="table table-fixed">
			<thead>
				<tr>
					<th scope="col">ID студента</th>
					<th scope="col">ФИО</th>
					<th scope="col">Время прохождения</th>
					<th scope="col">Правильных ответов</th>
					<th scope="col">Очки</th>
					<th scope="col">Результат</th>
				</tr>
			</thead>
			<tbody id="table-result-body" class="table-result-body">
			</tbody>
		</table>
	</div>
	</div>
	<div class="tab-admin_content form-box admin-content-4 ">
		<div class="id-container">
			<div class=" ">
				<label class="result-id-title" for="questions">Введите ID викторины: </label>
				<input placeholder="ID" id="id-input-current-victorina" type="text" class="form-auto-input form-style result-id-input ">
			
					<a id="more-btn-id" onclick="getVictorinaQuestion(document.getElementById('id-input-current-victorina').value)"  class="form-auto-btn form-admin-btn result-id-btn">Далее</a>
				
			</div>
		</div>
		<div class="more-container">
			<div id="more-container-main" class="more-container-main">
			<p id="more-qName" > 
				Название Викторины: 
			</p>
			<p id="more-qTime" > 
			 Время прохождения: 
			</p>
			<p id="more-qTotal" > 
				Количество вопросов: 
			 </p>
			</div>
			<div id="more-container-questions" class="more-container-questions">
			</div>
		</div>
	</div>
	</div>

</div>

</body>
</html>

<style>

	.r-lost {
	   color: red;
	   font-weight: 900;
	}
	   
   </style>